header{
  float:left;
}

.header-left h1{
  font-family:'Oswald';
  font-size:100px;
  color:#FFFFFF;
  background-color:#708090;
  margin-right:10px;
  padding-right:20px;
  border-radius: 10px;
  position:absolute;
  width:50%;
}

.header-right a{
  font-family:'Oswald';
  color:#FFFFFF;
  font-size:30px;
  position:absolute;
}

.middle-message{
  opacity:0.8;
  padding-top: 10px;
}

.index-background{
  opacity:0.5;
  height:800px;
  size:cover;
  margin:0px;
  text-align:center;
  position:relative;
}

