header{
  float:right;
}

.header-left h1{
  font-family:'Oswald';
  font-size:100px;
  color:#FFFFFF;
  background-color:#708090;
  width:100%;
  margin:0px;
}

.header-right a{
  font-family:'Oswald';
  font-size:30px;
}

.middle-message{
  opacity:0.8;
  padding-top: 10px;
}

.index-background{
  opacity:0.9;
  height:800px;
  widows: 100%;
  margin:0px;
  text-align:center;
}

