header{
  background-color:#708090;
  float:left;
}

.header-left h1{
  opacity:0.8;
  font-family:'Oswald';
  font-size:100px;
  color:#FFFFFF;
  background-color:#708090;
}

.header-right{
  opacity:0.5;
  font-family:'Oswald';
  color:#FFFFFF;
  font-size:100px;
}

.middle-message{
  opacity:0.8;
  padding-top: 200px;
}

.index-background{
  height:500px;
  size:cover;
}